.sortControls {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
}
.searchSection input {
  display: flex;
  align-items: center;
  font-size: 13px;
  width: 40px;
  flex-grow: 1;
 
}

.searchSection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center; 
  color: aliceblue;
}

.searchSection label {
  font-size: 17px; 
  
}

