.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 13px;
  margin: 2px;margin-left: 88px;
  width: 50%;
}

.button:hover {
  background-color: #0056b3;
}
