.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Ensures that z-index on the text works */
    z-index: 2;/* Ensure that the whole content stack vertically */
    align-items: flex-start;
    margin-top: 90px;
    padding: 20px;
    background-color: var(--main-bg-color);
    overflow: hidden; 
    min-height: 100vh;
  }
  
  /* Welcome section with logo and text */
  .welcomeContainer {
    display: flex;
   flex-direction: column;

    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    position: relative; /* Ensures that z-index on the text works */
    z-index: 2;
  }
  .laptopContainer{
    position: relative;
  width: 200px; /* Set appropriate size for the laptop */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .laptopImage {
    width: 80%; /* Make sure laptop covers the whole container */
    height: auto;
  }
  
  .laptopScreen {
    position: absolute;
    top: 10%; /* Position the screen inside the laptop */
    left: 5%;
    width: 80%; /* Adjust screen size */
    height: 72%; /* Adjust screen size */
    display: flex;
    justify-content: center;
    align-items: center;

   
  }
  .header {
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start;
    gap: 0; /* Remove the gap */
  }
  
  .text {
    font-size: 3rem;
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.96);
  }
  
  .logoo {
    width: 121px; /* Adjust the logo size */
    height: 76px;
    margin-left: 18px; /* Space between text and logo */
  }
  
  @media screen and (min-width: 1920px) {
    .container {
      align-items: center;
      text-align: center;
      justify-content: space-around; /* Behåll denna för att centrera */
    }
    
    .text {
      font-size: 7rem;
    }
    
    .laptopImage {
      width: 50vh; /* Fortsätt använda 50vh */
      height: auto;
      padding-top: 10vh;
    }
  
    .laptopScreen {
      top: 110%; /* Centrera vertikalt */
      left: 45%; /* Centrera horisontellt */
      transform: translate(-50%, -50%); /* Justera till mitten */
      width: 80%; /* Justera om nödvändigt */
      height: 80%; /* Justera om nödvändigt */
    }
  
    .logoo {
      width: 287%; /* Gör logotypen så stor som skärmen tillåter */
      height: 290px; /* Låt höjden justeras automatiskt för att behålla proportioner */
    }
  }
  