.ReqDetail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
}

.container {
  width: 100%;
  max-width: 480px; /* Ännu smalare */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  position: relative;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  width: 120%;
  height: 90px;  /* Håll den oförändrad */
  background-color: #2c3e50;
  border-radius: 70%;
  transform: translateX(-50%);
}

.formContainer {
  width: 100%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.co pre {
  width: 400px;
  max-width: 660px;
  height: 150px; /* Mindre */
  background: #f3f3f3;
  padding: 4px;
  border-radius: 4px;
  font-size: 11px;
  overflow: auto;
}

input,
textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 11px;
}

.saveButton, .backButton {
  width: 100%;
  padding: 5px;
  font-size: 11px;
  margin-top: 3px;
  border-radius: 10px;
  background: rgb(4, 84, 127);
  border: none;
  color: white;
  cursor: pointer;
}

.saveButton:hover, .backButton:hover {
  background-color: #062749;
}
h3 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 6px;
}

.editButton {
  background-color: blue;
  color: white;
  padding: 5px;
  font-size: 11px;
  border: none;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 11px;
  border: none;
  cursor: pointer;
}
