.ReqDetail {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vh; 

}

.container {
  width: 100%;
  max-width: 400px; /* Minskat formulärbredd */
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 20px; /* Mindre padding för en kompaktare design */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: -40px; 
  left: 50%;
  width: 120%;
  height: 197px;  /* Håll den oförändrad */
  background-color: #2c3e50;
  border-radius: 70%;
  transform: translateX(-50%);
}

.formContainer {
  width: 100%;
  padding: 15px; /* Mindre padding */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  position: relative;
  overflow: hidden;
}
.co pre{
  position: relative;
  width: 400px;
  height: 230px;
}

input,
textarea {
  width: 100%;
  padding: 8px; /* Mindre padding */
  font-size: 14px; /* Lite mindre text */
}

textarea {
  height: 80px; /* Mindre höjd på textarea */
}

.saveButton, .backButton {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 20px;
  background: rgb(4, 84, 127);
  border: none;
  color: white;
  cursor: pointer;
}

.saveButton:hover, .backButton:hover {
  background-color: #062749;
}

.co pre {
  width: 100%;
  max-width: 350px;
  height: 190px; /* Minskat utrymme för pre */
 
  background: #f3f3f3;
  padding: 10px;
  border-radius: 6px;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 18px; /* Mindre text */
}

.co h3 {
  color: white;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.editButton {
  background-color: blue;
  color: white;
  padding: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
  color: white;
  padding: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}