.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #2C3E50;
  padding: 10px 20px;
  color: white;
  font-family: "Century Gothic", sans-serif;
  height: 90px;
  margin: 0;
}
.navbarBrand {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbarMenu {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.link:hover {
  color: #00bcd4; /* Ändra färg på texten vid hover */
  border-bottom: 2px solid #00bcd4; /* Lägg till understrykning vid hover */
}

/* Understrykning på den aktiva länken */
.active {
  color: #00bcd4; /* Färgen på den aktiva länken */
  font-weight: bold; /* Gör den aktiva länken fetare */
  border-bottom: 4px solid #00bcd4; /* Lägg till understrykning på den aktiva länken */
}
.logo {
  width: 200px;
  height: 120px;
  object-fit: contain;
}

.menuItem {
  color: rgb(5, 5, 5);
  
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.link:hover { 
  color: #00bcd4;
}  